*{
    font-family: Lucida Console,微軟正黑體;
}
.rightcolumn{
    border-left:rgb(104, 148, 170) 5px solid;
    float: right;
    position: fixed;
    z-index:  100px;
    top: 9%;
    bottom: 0;
    right: 0;
    /* padding: 50px 0; */
    width: 250px;
    background-image: linear-gradient(rgb(255,255,255),rgb(227, 244, 255));
    height: 600px;
    display: flex;
    flex-direction: column;
    border-style: border-box;
    box-shadow: -5px 0px 10px rgba(46, 99, 124, 0.6);
    /* position: relative; */
    transform: translatex(100%);
    transition: 0.5s;
    border-radius: 4px 0px 0px 4px ;
    font-family: Lucida Console,微軟正黑體;

}

.rightcolumn .rightabout {
    margin: 20px 20px 0px 20px ;
    display: flex;
    flex-direction: column;
    background: rgb(255, 252, 252);
    padding: 10px;
    border-radius:5px;
    border: rgb(255, 252, 252) solid 2px;
    position: relative;
    box-shadow: 0px 2px 2px 2px rgba(46, 99, 124, 0.4);
}
.rightcolumn .rightabout li{
    display: block;
}
.rightcolumn label{
    position: absolute;
    width: 40px;
    height: 80px;
    background: rgb(104, 148, 170);
    color: #FFF;
    left: -41px;
    top: -50%;
    bottom: 0;
    margin: auto;
    border-radius: 4px 0px 0px 4px ;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    box-shadow: -5px 0px 10px rgba(46, 99, 124, 0.6);
}

#rightcolumn-switch:checked + .rightcolumn{
    transform: translatex(0%);
}
#rightcolumn-switch{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#rightcolumn-switch:checked + .rightcolumn label .fa{
    transform: scalex(-1);
}
.rightcolumn .rightabout li h2{
    font-size: 12pt;
    font-weight: bolder;
    line-height: 2px;
    box-shadow: 0 2px;
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.rightcolumn .rightabout li h3{
    font-weight: bolder;
    font-size: 12pt;
    box-shadow: 0 1px rgba(109, 86, 88, 0.6);
    padding-bottom:3px;
    text-align: left;
}
.rightcolumn .rightabout .myself {
    /* background: rgb(255, 236, 236); */
    color:rgb(104, 148, 170);
    /* border-radius:5px;
    border: rgb(255, 236, 236) solid 2px; */
    height: auto;
    vertical-align: middle;
    margin-top: 10px;

}


.rightcolumn .rightabout .myself  p{
    font-size: 8pt;
    line-height: 20px;
    text-align:justify;
    
}

.rightcolumn .rightabout li img{ 
    width: 70%;
    margin:auto;
    display:block;
    border: rgb(187, 187, 187) solid 3px;
    /* margin-left: auto;
    margin-right: auto; */
}
.rightmenu{
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y:auto;
    margin-bottom: 20px;
}
.rightmenu .block1{
    padding: auto;
    margin: 20px 10px 20px;
    text-align: left;
    display: block;
}

.block1 .title1 h2{
    font-weight: bolder;
    font-size: 12pt;
    box-shadow: 0 1px rgba(99, 136, 170, 0.6);
    padding-bottom:5px;
    margin: 0px 10px 1px 10px;
    
}

.block1 .menu1{
    background: rgb(255, 252, 252);
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 0px 0px 5px 5px;
    display: none; 
    margin: 0px 10px 1px 10px;
    box-shadow: 0px 2px 2px 2px rgba(46, 99, 124, 0.4);
}
.menu1  a{
    line-height: 30px;
    color: rgb(104, 148, 170);
    font-size: 8pt;
    text-decoration:none;
    box-shadow: 0 1px ;
    
}


.block1 .menu1 :hover{
    color: rgb(75, 119, 148);
    transform: scale(1.1);
    transform-origin: -20% 10%;
} 


.rightmenu  :hover > .menu1{
    display: block;
}
.rightmenu .block2{
    margin: 20px 10px 0px;
    text-align: left;
    display: block;
    margin-bottom: 20px;
    
}
.block2 .title2 h2{
    font-weight: bolder;
    font-size: 12pt;
    box-shadow: 0 1px rgba(99, 136, 170, 0.6);
    padding-bottom:5px;
    margin-bottom: 1px;
    margin: 0px 10px 1px 10px;
}

.block2 .menu2{
    background: rgb(255, 252, 252);
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 0px 0px 5px 5px;
    margin: 0px 10px 1px 10px;
    display: none; 
    box-shadow: 0px 2px 2px 2px rgba(46, 99, 124, 0.4);
}
.menu2  a{
    line-height: 30px;
    color: rgb(104, 148, 170);
    font-size: 8pt;
    text-decoration:none;
    box-shadow: 0 1px ;
}

.block2 .menu2 :hover{
    color: rgb(75, 119, 148);
    transform: scale(1.1);
    transform-origin: -20% 10%;
} 


.rightmenu  :hover > .menu2{
    display: block;
}