
.clearfix{
    clear:both;
}

hr{
    height:2px;
    width:50%;
    background-color: rgb(173, 173, 173);
    border:none;
    margin-left: auto;
    margin-right: auto;

}
.footer{
    width: auto;
    background: rgb(235, 235, 235);
    text-align: center;
    line-height: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: Lucida Console,微軟正黑體;
}

.footer li a{
    color: rgb(94, 94, 94);
    letter-spacing: 2px;
    font-size: 8px;
    font-weight: normal;
}

/* .top{
    position:sticky;
    left:0; top:0;
    z-index: 2;
    
} */

.topBox{
    position:sticky;
    left:0; top:0;
    z-index: 2;
    background: white;
    display: flex;
    width: auto;
    justify-content: space-between; 
    opacity:0.9;
    font-family: Lucida Console,微軟正黑體;
}
.topmenu{
    display: flex;
    justify-content:left; 
    float: left;
}
.topmenu li{
    width: 140px;
    text-align: center;
    /* margin-bottom: 10px; */
}

.topmenu li a{
    display: block;
    /* background: #FFFFFF; */
    color: rgb(65, 65, 65);
    height: 25px;
    line-height: 30px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    font-size: 12pt;
    position:relative;
}
/* .topmenu li :hover{
    background: rgb(206, 181, 181);
    color: #FFFFFF;
    opacity: 0.8;
} */

.topmenu li a:after {
	content:"";
	position:absolute;
	bottom:0.05rem;
	height:0.15rem;
	width:0%;
	transition:all 0.2s;
	left:0;
	background-color:rgb(104, 166, 196);
}
.topmenu li a:before {
	content:"";
	position:absolute;
	bottom:0.05rem;
	height:0.15rem;
	width:0%;
	transition:all 0.2s;
	left:0%;
	background-color:#fff;
}
.topmenu li a:hover:after {
	animation-name:example;
	animation-duration:0.2s;
	animation-fill-mode:both;
}
.topmenu li a:hover:before {
	width:80%;
	left:10%;
	background-color:rgb(104, 166, 196);
}
.toptitle{
    display: block;
    display: flex;
    align-items: center;
    width: 450px;
    margin: 0;
    
}
.toptitle li{
    padding-top: auto;
}

.toptitle li .my{
    width: 50px;
    height: 50px;
    float: left;
}

.logo{
    justify-content: center; 
    display: flex;
}


.logo a{
    width: 50px;
    height: 30px;
    margin: 10px;
}


.logo a .fb {
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 auto;
    
}
.logo a .ins {
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 auto;
}
.logoFt{
    display: flex;
    align-items: center;
}

.logoFt a{
    width: 50px;
    height: 20px;
    margin: 5px;
    flex-direction: row;
}


.logoFt a .fb {
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 auto;
    
}
.logoFt a .ins {
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 auto;
}
