/* 
rgb(104, 166, 196)藍
rgb(111, 151, 167);
rgb(104, 166, 196)粉 
rgb(167, 111, 111)
*/
*{
    font-family: Lucida Console,微軟正黑體;
}
/* body{
    font-family: 微軟正黑體;
    font-family: Lucida Console;
} */


.wrap{
    margin-top: 10px ;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(94, 94, 94);
    font-family: Lucida Console,微軟正黑體;
}

.content{
    background:rgb(255, 255, 255);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative; 
    font-size: 16pt;   
    display: flex;
}
.midcolumn{
    width: 100%;
    float: left;
    padding: 0px 0px 0px 0px;
}

.midcolumn .midTopTitle{
    width: 100%;
    float: left;
}
.midcolumn .midTopTitle p{
    font-size: 20pt;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    /* text-decoration: none; */
    box-shadow: 0 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    padding: 40px 0px 5px 0px;
}
.midcolumn .midTopTitle p a{
    text-decoration: none;
    color:rgb(59, 100, 139) ;
}
.midcolumn .midTopTitle p :hover{
    color:rgb(65, 161, 216) ;
}

.pic {
     position: relative;
}

.pic .WorkTilte{
    text-align: center;
    font-weight: bolder;
}




.midImg1{
    background-image: url("img/IMG_0000.png");
    min-height: 400px; 
    /* 沒內文時可以看到的最小高度 */

    background-attachment:fixed; /* 固定圖像 */
    background-position-x: 0%;
    background-position-y: 0%; /* 圖像置中 */
    background-size: 100%;
}

.midblock1{
    width: 95%;
    margin: auto;
    background:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 10px 0px 0px;
   
}
.midblock2{
    width: 100%;
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    /* background: rgb(77, 121, 161) ; */
    background-image: linear-gradient(rgb(77, 121, 161),rgb(94, 108, 122));
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
 
}
.oneF{
    width: 100%;
    position: relative;
}
.oneFImg img{
    width: auto;
    height: 800px;
    float: right;
    padding: 0px 10px 0px 0px;
}
.oneFImg1 img{
    width: 80%;
    height: auto;
    float: right;
}
.oneFImg2{
    display: flex;
    float: right;
    align-items: flex-end;
    justify-content: flex-end;
}
.oneFImg2-1 img{
    width: 80%;
    height: auto;
    float: right;
    margin: 0px 10px 0px 0px;
}
.oneFImg2-2 img{
    width: 800px;
    height: auto;
    float: right;
}
.twoF{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px ;
    
}

.twoFLeft{
    height: 500px;
    width: 50%;
    /* background: #FFFFFF; */
    display: flex;
    flex-direction: column;
}
.twoFLeft .twoFTitle p{
    font-size: 40pt;
    padding: 50px 80px 10px 0px;
    text-align: right;
    color:#FFFFFF ;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 60px;
}
.twoFbox1{
    width: 95%;
    height: 10px;
    /* background:#FFFFFF; */
    background-image: linear-gradient(to right,rgb(255, 255, 255) 20%,rgba(255, 255, 255, 0.315)80%);
    position: absolute;
    bottom: 0%;
}
.twoFbox2{
    width: 60%;
    height: 30px;
    background-image: linear-gradient(to left,rgb(255, 255, 255) 30%,rgba(171, 179, 204, 0.315)70%);
}

.twoFRight{
    float: left;
    height: 500px;
    width: 50%;
    display: block;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
}
.twoFcon{
    float: right;
    display: flex;
    flex-direction: row;
}
.twoFcon li{
    font-size: 12pt;
    color: #ffffff;
    margin: 0px 0px 20px 30px;
    line-height: 30px;
}
.twoFcon li a{
    text-decoration: none;
    font-size: 12pt;
    color: #ffffff;
    margin: 0px 0px 20px 30px;
    line-height: 30px;
    box-shadow: 0 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    padding: 40px 0px 5px 0px;
    
}
.twoFcon li  :hover{
    color: rgb(241, 241, 163);
}
.twoF .midLogo{
    position: absolute;
    top: 10%;
    right: 10%;
    
    
}
.midLogo img{
    width: 150px;
}
.NextLast{
    padding: 0px 20px 20px 0px;
    display: flex;
}
.NextLast ul{
    position: absolute;
    top: 80%;
    right: 5%;
}
.NextLast li{
    
    line-height: 30px;
    margin: 5px 0px 5px 0px;
    padding: 3px 5px 0px 5px;
    font-size: 10pt;
    text-align: justify;
    background: rgb(63, 75, 99);
    letter-spacing: 5px;
    
}
.NextLast li a {
    text-decoration: none;
    color: #e7fff5;
}
.NextLast li span{
    color: #FFFFFF;
    opacity: 0;
}
.NextLast ul :hover{
    background:rgb(63, 98, 99);
}



.card{
    position: relative;
    width: 350px;
    display: block;
    float:left;
    margin: 60px 0px 60px 10px;
    padding-left: 0px;

}
.card img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}
.info{
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.5);
    top: 0;
    width: 350px;
    height: 100%;
    text-align: center;
    padding-top: 80px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #bdf0f7;
    border: none;
    color:rgb(32, 75, 92);
    text-align: center;
    font-size: 12pt;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.info p{
    color: #fff;
    font-size: 12pt; 
    line-height: 25px;
    margin-top: 10px;
}
.info p span{
    font-weight: bolder;
    font-size: 13pt;
}
.info:hover{
    transition: 500ms;
    opacity: 1;
}

